.info-Teams-Header {
  display: unset;
  height: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  background-color: #c61326;
}
.teamLogo {
  visibility: hidden;
  border: 3px solid white;
  border-radius: 50%;
}
.resultTitle {
  display: block;
  margin-top: 5%;
}
.highLightBtns {
  display: block;
  margin: 0 auto;
}

.showRoeIsNotEmpty{
  display: none;
}

@media screen and (max-width: 420px) {
  .teamLogo {
    visibility: hidden;
    border: 3px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  #teamNameA {
    font-size: 12px;
    margin-top: 10px;
  }
  #teamNameB {
    font-size: 12px;
    margin-top: 10px;
  }
  #matchDate  {
    font-size: 12px;
  }
  #titleEvent  {
    font-size: 12px;
    word-break: break-all;
  }
  .resultTitle {
    display: block;
    margin-top: 20%;
  }
  .resultNums{
    font-size: 13px;
    white-space: nowrap;
    margin-top: 10px;
    display: block;
  }
}
